<%- include('header'); -%>
<div class="row">
    <div class="col-md-3" style="background-color: rgb(255, 255, 255);">
        <ul class="list-group">
            <li class="list-group-item">Cereals</li>
            <li class="list-group-item">Drinks</li>
            <li class="list-group-item">Snacks</li>
            <li class="list-group-item">Biscut</li>
            <li class="list-group-item">Food</li>
            <li class="list-group-item">Chips</li>
        </ul>
    </div>
    <div class="col-md" style="background-color: rgb(255, 255, 255);">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="https://sugargeekshow.com/wp-content/uploads/2020/03/fast-bread-recipe-featured2.jpg"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Bread</h5>
                        <p class="card-text">HomeMade</p>
                        <p class="card-text">HomeMade</p>
                        <a href="#" class="btn btn-success">Add to Cart</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="https://sugargeekshow.com/wp-content/uploads/2020/03/fast-bread-recipe-featured2.jpg"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Bread</h5>
                        <p class="card-text">HomeMade</p>
                        <p class="card-text">HomeMade</p>
                        <a href="#" class="btn btn-success">Add to Cart</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="https://sugargeekshow.com/wp-content/uploads/2020/03/fast-bread-recipe-featured2.jpg"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Bread</h5>
                        <p class="card-text">HomeMade</p>
                        <p class="card-text">HomeMade</p>
                        <a href="#" class="btn btn-success">Add to Cart</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="https://sugargeekshow.com/wp-content/uploads/2020/03/fast-bread-recipe-featured2.jpg"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Bread</h5>
                        <p class="card-text">HomeMade</p>
                        <p class="card-text">HomeMade</p>
                        <a href="#" class="btn btn-success">Add to Cart</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); -%>

